html,
body,
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
}

.view {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
  overflow-y: auto;
}

.cpages {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  html,
  body {
    font-size: 100px !important;
    width: 25rem !important;
    border-left: 1px solid #0FF0E5;
    border-right: 1px solid rgb(209, 208, 208);
  }
  .van-tabbar{
    width: 25rem !important;
  }
}
/* 主题切换--默认色 */
.default_theme .pages {
  background-color: rgb(243, 243, 243);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* 主题切换--红色 */
.black_theme .pages {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.van-pull-refresh,
.van-pull-refresh__track {
  height: 100%;
}

.van-tabs__content {
  height: calc(100vh - 138px);
  overflow: hidden;
  overflow-y: auto !important;
}

* {
  margin: 0;
  padding: 0;
}

.van-nav-bar .van-icon,
.van-nav-bar__text {
  color: #333 !important;
}
.van-field__label{
  width: auto !important;
  margin-right: 15px;
}


/* markdown */
.md{
  padding: 10px;
  width: calc(100% - 20px);
  overflow: hidden;
}
.md h1{
  line-height: 56px;
}
.md h3{
  margin: 10px 0 !important;
}
pre{
  margin: 10px 0;
}
.hljs{
  border-radius: 4px;
  overflow: hidden !important;
  white-space: pre-wrap;
}