html,
body,
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
}

.view {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
  overflow-y: scroll;
}

.cpages {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

/* 主题切换--默认色 */
.default_theme .pages {
  background-color: rgb(243, 243, 243);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* 主题切换--红色 */
.black_theme .pages {
  background-color: rgb(224, 16, 16);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.van-pull-refresh,
.van-pull-refresh__track {
  height: 100%;
}

.van-tabs__content {
  height: calc(100vh - 138px);
  overflow: hidden;
  overflow-y: auto !important;
}

* {
  margin: 0;
  padding: 0;
}

.van-nav-bar .van-icon,
.van-nav-bar__text {
  color: #333 !important;
}